<div id="sphere_<%= id %>" class="col-md-6 col-lg-4 mb-4 wow fadeInUp" data-wow-delay="0.1s">
    <div class=" mx-3 border rounded">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="sphere-title text-center d-flex flex-column justify-content-center">
                <h2 class="h3 text-black"><%= name %></h2>
            </div>
            <div class="sphere-item">
                <img class="img-fluid" src="<%= img %>" alt="<%= name -%>">
                <div class="sphere-detail">
                    <div class="sphere-text d-flex flex-column justify-content-center align-items-center w-100">
                        <p class="mb-0"><%= description %></p>
                    </div>
                </div>
            </div>
            <div>
                <a class="btn btn-dark mb-3" href="<%= link %>">Больше</a>
            </div>
        </div>
    </div>
</div>
