<!DOCTYPE html>
<html lang="ru">
<head>
    <%- await include('./parts/head',
    {
        data: data,
        keywords:    ['разработка материалов', 'лаборатория', 'подбор материалов'],
        description: 'Разработка полимерных композиционных материалов. Создание рецептур.',
        title:       'разработка новых материалов',
    }) -%>
</head>

<body>

<%- await include('./parts/header', {data: data}) -%>

<main>
    <%- await include('./parts/image-header', {imageurl: 'custom.jpg'}) -%>
        <div class="container-fluid py-3">
            <h1 class="display-3 text-white wow slideInRight">Разработка</h1>
            <h2 class="fs-5 fw-medium carousel-text text-uppercase slideInRight wow slideInRight">
                Создание рецептур и продуктов с нуля
            </h2>
        </div>
    </div>

    <div id="custom" class="container-fluid about py-5 px-2">
        <div class="row g-5 mx-0 px-0">
            <div class="col-lg-4 order-last order-lg-first">
                <div class="row gx-3 h-100 popup-gallery">
                    <%_
                    for (let image of ls_dir('/img/custom')) {
                    _%>
                    <div class="col-6 align-self-center wow fadeInLeft" data-wow-delay="0.1s">
                        <%_ alttitle = 'Наша лаборатория' _%>
                        <a href="<%= image %>">
                            <img
                                class="img-fluid img-thumbnail"
                                src="<%= image %>"
                                alt="<%= alttitle -%>"
                                title="<%= alttitle -%>"
                            />
                        </a>
                    </div>
                    <%_ } _%>
                </div>

            </div>
            <div class="col-lg-8 wow fadeInLeft" data-wow-delay="0.2s">
                <p class="mb-2 h2 fw-medium text-uppercase text-primary text-center">обратитесь к нам</p>
                <p class="mb-4 h2 text-center">Возможно, вместе мы создадим продукт, который подходит именно Вам</p>
                <p class="mb-4 stretch">
                    Мы понимаем, что каждый наш клиент имеет свои особенности,
                    связанные как с используемым оборудованием для переработки пластмасс,
                    так и разными требованиями к готовым изделиям.
                </p>
                <p class="mb-4 stretch">
                    За <%= data.age %> <span class="year-plural"><%= data.age%></span> работы мы разработали
                    и внедрили большое количество материалов и изделий по индивидуальным заданиям наших клиентов.
                </p>
                <div class="row gy-4">
                    <%- await include('./parts/feature/item',
                    {
                        width: 12,
                        delay: 0.1,
                        h: 'Разработка по техническому заданию',
                        text:
                            `У Вас есть требования к конечному изделию, но Вы не знаете какой материал использовать,
                            чтобы их выполнить? Мы поможем подобрать материал.`
                    }) -%>
                    <%- await include('./parts/feature/item',
                    {
                        width: 12,
                        delay: 0.1,
                        h: 'Подбор по образцу',
                        text:
                            `Ваш иностранный поставщик ушел с рынка, или Вы просто хотите получить то же самое,
                            но локализованное в Беларуси? Мы можем изучить свойства образца и предложить замену.`
                    }) -%>
                    <%- await include('./parts/feature/item',
                    {
                        width: 12,
                        delay: 0.2,
                        h: 'Помощь во внедрении',
                        text:
                            `Наши специалисты обеспечат техническую поддержку разработанного материала на всех этапах внедрения:
                            от лабораторных экспериментов, до выпуска промышленной партии изделий.`
                    }) -%>
                    <%- await include('./parts/feature/item',
                    {
                        width: 12,
                        delay: 0.2,
                        h: 'Сопровождение разработки',
                        text:
                            `Появились новые регуляторные требования?
                            Или Ваши требования через некоторое время поменялись?
                            Мы поможем изменить свойства материала, приведя их в соответствие с новыми требованиями.`
                    }) -%>
                </div>
            </div>
        </div>
        <%- await include('./parts/form', { data: data }) -%>
    </div>
</main>

<footer>
    <%- await include('./parts/footer', {data: data}) -%>
    <%- await include('./parts/foot',   {data: data}) -%>
</footer>

</body>
</html>
